# Variables de entorno (Credenciales sensibles)
.env

# Entornos virtuales
venv/
env/
ENV/

# Archivos compilados y cache de Python
__pycache__/
*.py[cod]

# Base de datos local SQLite (si existiera)
*.sqlite3

# Archivos estáticos recolectados
/staticfiles/